<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cowin vaccine reminder</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="shortcut icon" href="http://themes.guide/favicon.ico" type="image/x-icon"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/3.0.0/css/ionicons.css" rel="stylesheet">
    <link href="./theme.css" rel="stylesheet">
    <link href="./template.css" rel="stylesheet">
</head>
<body>

<section class="container">
    <div class="row">
        <div class="col-sm my-auto"
             style="background: url('assets/img/map-image.png') center / cover; border-radius: 15px; padding: 25px;">
            <h1>cowin vaccine reminder</h1>
            <div style="background: rgba(30,30,30,0.40); border-radius: 15px; padding: 25px;" class="card h-100">
                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-2 text-primary"><span
                                class="ion ion-ios-checkmark-circle-outline"></span></h1>
                    <h4 class="card-title text-primary">Remind me</h4>
                    <p class="card-text">Add your mail id here to get hourly reminder when 18+ vaccination open at your
                        place!</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form method='POST' action="/remind">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" id="states" name="states">
                                                <option value="" selected disabled>Select State</option>
                                                <% for(var i = 0; i < state.length; i++) { %>
                                                    <option value="<%= state[i].state_id %>"><%= state[i].state_name %></option>
                                                <% } %>
                                            </select>
                                            <small class="form-text text-danger flex-grow-1 help-block lead"></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" id="dist" name="dist">
                                                <option value="" selected disabled>Select District</option>
                                            </select>
                                            <small class="form-text text-danger help-block lead"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" id="email" name="email"/>
                                            <small class="form-text text-danger help-block lead"></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton"
                                                type="submit">Remind me
                                        </button>
                                    </div>
                                </div>
                                <% if (status == true) { %>
                                    <div class="form-row">
                                        <div class="col-lg-12 text-center">
                                            <div id="success">
                                                <div class="alert alert-success alert-dismissable show fade" role="alert">
                                                    <strong>successfully registered!</strong> You will be reminded with email.
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <strong>Disclaimer:</strong> This web app uses CoWin open API to make it easy for you to find slots. Availability changes in real time. So book your slot ASAP using <a href="https://selfregistration.cowin.gov.in">https://selfregistration.cowin.gov.in</a>.<br />
                <br>For any support <strong><a href="https://twitter.com/iam__navneet">@iam__navneet</a></strong> or <strong><a href="https://twitter.com/iOSDev747">@iOSDev747</a></strong>
            </div>
        </div>
    </div>
</footer>
<script src="post.js"></script>
</body>
</html>
